/* shared style */
.primary-color{
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
        .display {
          display: none;
        }
        .banner{
            flex-direction: column;
            margin: 25px 0;
        }
        .banner-right{
            order: 1;
            width: 100%;
            margin-bottom: 25px;
        }
        .banner-left{
            order: 2;
            width: 100%;
        }
        .banner-left h1{
            font-size: 2.5rem;
            line-height: normal;
        }
        .container{
          grid-template-columns: repeat(2,1fr);
          justify-items: center;
        }
        .btn{
          padding: 15px 40px;
        }
        .lover-container{
          flex-direction: column;
          margin: 50px 0;
          gap: 40px;
        }
          .lover-container h2{
            width: 500px;
          }
        .badge{
          display: none;
        }
    }

        
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}