/* shared style */
.primary-color{
  color: rgba(0, 0, 0, 0.5);
}
.leatest{

}

@media screen and (max-width: 576px) {     
  .display {
          display: none;
        }
        .banner{
            flex-direction: column;
            margin: 25px 0;
        }
        .banner-right{
            order: 1;
            width: 100%;
            margin-bottom: 25px;
        }
        .banner-left{
            order: 2;
            width: 100%;
            padding: 0px 15px;
        }
        .banner-left h1{
            font-size: 2.5rem;
            line-height: normal;
        }
        .container{
          grid-template-columns: repeat(2,1fr);
          justify-items: center;
        }
        .btn{
          padding: 15px 40px;
        }
        .lover-container{
          flex-direction: column;
          margin: 50px 0;
          gap: 10px;
        }
          .lover-container h2{
            font-size: 2rem;
          }
        .badge{
          display: none;
        }
        .latest-deal-container{
          grid-template-columns: 1fr;
          justify-content: center;
        }
        .plant{
          height: 206px;
          width: 365px;
          background-position: center;
          /* margin-left: 25px; */
        }
        .contain{
          display: grid;
          justify-items: center;
        }

      }
      .center-div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }

        
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}